<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>250018351936-3jld8edc4bjr78mddqou2ma151lndto4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.250018351936-3jld8edc4bjr78mddqou2ma151lndto4</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ6M6WZc7x0YI1qmEgkOKPKZwPppJHKtY</string>
	<key>GCM_SENDER_ID</key>
	<string>250018351936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lucaspinto.GoReceitas</string>
	<key>PROJECT_ID</key>
	<string>goreceitas-22e66</string>
	<key>STORAGE_BUCKET</key>
	<string>goreceitas-22e66.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:250018351936:ios:f2f5ce33ae0e84d19d08a5</string>
</dict>
</plist>